{% extends "page.html" %}
{% block content %}
  <div>
    <h1>{{ feature.title }}</h1>
  </div>
  <div id="maincontent">
    {% if feature.description is not none %}
      <div>{{ feature.description|safe }}</div>
    {% endif %}
    {% if feature.geometries is not none %}
      <style>
          table.lined {
              border-collapse: collapse;
              margin-bottom: 10px;
          }

          table.lined td {
              border: solid 1px lightgrey;
              border-collapse: collapse;
              padding: 5px;
          }
      </style>
      <table class="lined">
        {% for geometry in feature.geometries %}
          <tr>
            <td>{{ geometry.label }}</td>
            <td><code>{{ geometry.coordinates }}</code></td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
  {% include 'page_altprofiles.html' %}
{% endblock %}