{% extends "page.html" %}
{% block content %}
  <div>
    {% if title is not none %}
      <h1>{{ title }}</h1>
    {% else %}
      <h1>TimePrez</h1>
    {% endif %}
  </div>
  <div id="maincontent">
    {% if description is not none %}
      <div>{{ description|safe }}</div>
    {% endif %}

    <h2>Links</h2>
    <ul>
      {% for link in links %}
        <li>
          <a href="{{ link["href"] }}">
            {% if link["title"] is not none %}{{ link["title"] }}{% else %}{{ link["href"] }}{% endif %}</a>
          {% if link["rel"] is not none or link["rel"] is not none or link["type"] is not none or link["hreflang"] is not none or link["length"] is not none %}
            <ul>
            {% if link["rel"] is not none %}
              <li>rel: {{ link["rel"].value }}</li>{% endif %}
            {% if link["type"] is not none %}
              <li>type: {{ link["type"].value }}</li>{% endif %}
            {% if link["hreflang"] is not none %}
              <li>hreflang: {{ link["hreflang"].value }}</li>{% endif %}
            {% if link["length"] is not none %}
              <li>length: {{ link["length"].value }}</li>{% endif %}
          {% endif %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% include 'page_altprofiles.html' %}
{% endblock %}